@model IEnumerable<TiendaOnline.Category>

@{
    Layout = null;
}

<div class="left-sidebar">

    <div class="brands_products">
        <!--brands_products-->
        <h2>CATEGORÍAS</h2>
        <div class="brands-name">
            <ul class="nav nav-pills nav-stacked">
                @foreach (var item in Model)
                {
                    <li><a href="@Url.Action("Search", "Products",new {category_id=(@Html.DisplayFor(modelItem => item.Id))})"><span class="pull-right">(@Html.DisplayFor(modelItem => item.Products.Count))</span>@Html.DisplayFor(modelItem => item.Nombre)</a></li>
                }
            </ul>
        </div>
    </div><!--/brands_products-->

    <div class="shipping text-center">
        <!--shipping-->
        <img src="images/home/shipping.jpg" alt="" />
    </div><!--/shipping-->

</div>
