
@{
    ViewBag.Title = "Index";
}

<section id="slider">
    <!--slider-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div id="slider-carousel" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#slider-carousel" data-slide-to="0" class="active"></li>
                        <li data-target="#slider-carousel" data-slide-to="1"></li>
                        <li data-target="#slider-carousel" data-slide-to="2"></li>
                    </ol>

                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="col-sm-6">
                                <h1>Tu farmacia Online 24h</h1>
                                <h2>Para que puedas hacer cualquier pedido en cualquier momento</h2>
                                <p>Y nos encargaremos personalmente de que lo recibas cuanto antes</p>
                                <button type="button" class="btn btn-default get">Comprar ahora</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/slider/24horas.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>
                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Destacamos por nuestro personal entregado y cualificado</h1>
                                <!--<h2>100% Responsive Design</h2>-->
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
                               <!-- <button type="button" class="btn btn-default get">Get it now</button>-->
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/slider/personal.jpg" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                        <div class="item">
                            <div class="col-sm-6">
                                <h1>Puedes realizar búsquedas por categorías</h1>
                                <h2>Para encontrar rápidamente lo que buscas</h2>
                                <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>-->
                                <button type="button" class="btn btn-default get">Realizar una búsqueda</button>
                            </div>
                            <div class="col-sm-6">
                                <img src="~/Content/images/slider/busqueda.png" class="girl img-responsive" alt="" />
                            </div>
                        </div>

                    </div>

                    <a href="#slider-carousel" class="left control-carousel hidden-xs" data-slide="prev">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <a href="#slider-carousel" class="right control-carousel hidden-xs" data-slide="next">
                        <i class="fa fa-angle-right"></i>
                    </a>
                </div>

            </div>
        </div>
    </div>
</section><!--/slider-->

